{% extends "layout.html" %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h2 class="title is-4">List of equipment</h2>
        {% if equipment %}
        <div class="columns is-multiline">
          {% for equip in equipment %}
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{ url_for('static', filename='equip_pics/' + equip.image_medium) }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h2 class="h2">{{ equip.name }}</h2>
                  <p class="content">
                    {{ equip.description }}
                  </p>
                </div>
              </div>
              <footer class="card-footer">
                {#
                  <a href="#" class="card-footer-item">Edit</a>
                  #}
                <a href="{{ url_for('equip.equip_edit', equip_id=equip.id) }}" class="card-footer-item has-text-success">Edit</a>
                <a href="{{ url_for('equip.equip_delete', equip_id=equip.id) }}" class="card-footer-item has-text-danger">Delete</a>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}  
          <p class="content">No equipement created</p>
        {% endif %}
      </div>
      <div class="column is-1"></div>
      <div class="column is-2">
        <a href="{{ url_for('equip.equip_new')}}" class="button is-large is-primary">New equipment</a>
      </div>
    </div>

  
  </div>
</section>

  
{% endblock content %}