<footer class="section">
  <div class="container">
    <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
      <div class="mr-auto mb-2">
        <a class="is-inline-block" href="#">
          <img class="image" src="{{ url_for('static', filename='pointer-logo.svg') }}" alt="" width="96"></a>
      </div>
      <div>
        <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
          <li class="mr-4"><a class="button is-white" href="#">About</a></li>
          <li class="mr-4"><a class="button is-white" href="#">Company</a></li>
          <li class="mr-4"><a class="button is-white" href="#">Services</a></li>
          <li><a class="button is-white" href="#">Testimonials</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
  <div class="container">
    <div class="is-flex-tablet is-justify-content-between is-align-items-center">
      <p>All rights reserved © Pointer 2022</p>
      <div class="py-2 is-hidden-tablet"></div>
      <div class="ml-auto">
        <a class="mr-4 is-inline-block" href="#">
          <span class="icon is-medium">
            <i class="lab la-facebook-f has-text-primary"></i>
          </span>
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <span class="icon is-medium">
            <i class="lab la-twitter has-text-primary"></i>
          </span>
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <span class="icon is-medium">
            <i class="lab la-github has-text-primary"></i>
          </span>
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <span class="icon is-medium">
            <i class="lab la-instagram has-text-primary"></i>
          </span>
        </a>
        <a class="is-inline-block" href="#">
          <span class="icon is-medium">
            <i class="lab la-linkedin-in has-text-primary"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script src="//unpkg.com/leaflet-gesture-handling"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.16/dist/js/bulma-calendar.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</footer>