
{% extends "layout.html" %}

{% block content %}

<section class="section">
  <div class="container">
    {#
      {% for point in user_points %}
        {{ point.latitude }} {{ point.longitude }}
        <br>
      {% endfor %}
    #}
    <h2 class="title is-2">Location of your equipement on the map.</h2>
    <div id="map"></div>
  </div>
  <div class="container mt-5">
    <div class="form ">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Date from</label>
            <div class="control">
              <input type="datetime" id="date_from">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Date to</label>
            <div class="control">
              <input type="datetime" id="date_to">
            </div>
          </div>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary" id="filter">Filter</button>
      </div>
    </div>
  </div>
</section>

<script>
  var points = {{ points_json | tojson }}
</script>
  
{% endblock content %}
  