{% extends "layout.html" %}

{% block content %}

<section class="section">
  <div class="container" x-data="registerValidator()">
    <form method="POST" action="/register" id="registerForm">
      {{ form.hidden_tag() }}
      <fieldset class="form">
        <legend>Join tobay!</legend>
        <div class="field">
          {{ form.username.label(class='label') }}

          {% if form.username.errors %}
            <div class="control has-icons-right">
              {{ form.username(class='input is-danger') }}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <div class="username-erros">
              {% for error in form.username.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% else %}
            <div class="control">
              {{ form.username(class='input') }}
            </div>
            <div id="username-erros">
              <p class="help is-danger" x-show="usernameError" x-text="usernameError"></p>
            </div>
          {% endif %}
        </div>
        <div class="field">
          {{ form.email.label(class='label') }}

          {% if form.email.errors %}
            <div class="control has-icons-right">
              {{ form.email(class='input is-danger') }}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <div class="email-errors">
              {% for error in form.email.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% else %}
            <div class="control">
              {{ form.email(class='input') }}
            </div>
            <div id="email-errors">
              <p class="help is-danger" x-show="emailError" x-text="emailError"></p>
            </div>
          {% endif %}

        </div>
        <div class="field">
          {{ form.password.label(class='label') }}

          {% if form.password.errors %}
            <div class="control has-icons-right">
              {{ form.password(class='input is-danger') }}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <div class="pass-erros">
              {% for error in form.password.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% else %}
            <div class="control">
              {{ form.password(class='input') }}
            </div>
            <div id="pass-erros">
              <p class="help is-danger" x-show="passwordError" x-text="passwordError"></p>
            </div>
          {% endif %}
          
        </div>
        <div class="field">
          {{ form.confimPassword.label(class='label') }}

          {% if form.confimPassword.errors %}
            <div class="control has-icons-right">
              {{ form.confimPassword(class='input is-danger') }}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <div class="confirmPass-erros">
              {% for error in form.confimPassword.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% else %}
            <div class="control">
              {{ form.confimPassword(class='input') }}
            </div>
            <div id="confirmPass-erros">
              <p class="help is-danger" x-show="passConfirmError" x-text="passConfirmError"></p>
            </div>
          {% endif %}
        </div>

        {# Honeypot field #}
        <div class="filed is-hidden">
          <label for="emailConfirm">Email confirm</label>
          <input type="input" id="emailConfirm" value="" placeholder="Confirm email" x-model="honeypot">
        </div>

      </fieldset>
    </form>
    <div class="field is-grouped mt-3">
      <div class="control">
        <input class="button is-link" id="registerSubmit" name="submit" type="submit" value="Register" @click="validateSubmit">
      </div>
    </div>

    <div class="content">
      You can login here: <a href="{{ url_for('users.login') }}">Sign in</a>
    </div>
  </div>
</section>
  
{% endblock content %}
  